<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
        <img src="https://images.squarespace-cdn.com/content/v1/5914e0a1d2b857304e9269e8/1495038023605-NYHZQNBINAP2L5CMYVCW/ke17ZwdGBToddI8pDm48kOjRHVQPrk9vR5Kmqiyy8e9Zw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVELBqMQE7rQyQzqFZ58U1Smyzqr0vuAL9aAx6q_HBJ8iaQvevUbj177dmcMs1F0H-0/family-clients-icon%402x.png" id="icon" alt="User Icon" />
        </div>
    
        <!-- Login Form -->
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Username">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
        <input type="submit" (click)="login()" class="fadeIn fourth" value="Log In">
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    
    </div>
</div>