<style>
    a {
        font-size: 18px;
        width: 100%;
        text-decoration: none;
    }
</style>
<div class="shadow p-3 mb-5 bg-white rounded" style="text-align: center;">
    <img src="https://cdn3.iconfinder.com/data/icons/small-black/512/building_company_enterprise_city-128.png" style="border-radius: 50%;background-color: white;
    border-radius:50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom: 10px;">

    <h3>{{ username }}</h3>
    <br>
    <a (click)="changecontent('parenthome')" mat-button> Home </a>
    <br>
    <a (click)="changecontent('approveclaim')" mat-button> Approve Cliam </a>
    <br>
    <a (click)="changecontent('issuepolicy')" mat-button> Issue Polcy </a>
    <br>


</div>